* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.left {
  width: 45%;
  margin-top: 70px;
  display: inline-block;
}

.left img {
  width: 300px;
}

.left p {
  font-size: 28px;
  max-width: 500px;
  margin-top: 10px;
}

.right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  flex-direction: column;
  gap: 10px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: #1877f2;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  border: none;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1877f2;
  text-align: center;
}

.signup {
  background-color: #42b72a;
  margin-top: 15px;
  width: 100%;
}